<script lang="ts" setup>
import { useMassageStore } from "@/stores/massage";

const massageStore = useMassageStore();
</script>
<template>
  <v-snackbar v-model="massageStore.isShow" multi-line>
    <v-icon size="32" color="red">mdi-alert-box-outline</v-icon>
    {{ massageStore.massage }}

    <template v-slot:actions>
      <v-btn color="red" variant="text" @click="massageStore.isShow = false">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>
